/* .img-size-login {
  height: 200px;
  width: 970px;
}  */

img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}  

.card-header {
  background-color: #fff;
  /* border-bottom: #dddddd; */
  font-weight: bold;
  font-size: 150%;
  letter-spacing: 3px;
}

.card {
  border-color: #efefef;
}

input {
  border-color: #dddddd;
  box-shadow: 0 0.25rem 0.75rem #0000000d;
}