<app-nav-menu></app-nav-menu>
<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='filteredProducts.length'>
            <thead>
                <tr>
                <th>Product</th>
                <th>Code</th>
                <th *ngIf="isAdmin">Order amount</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Order Date</th>
                <th>Stock status</th>
                <th *ngIf="isAdmin"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let product of filteredProducts'>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td> 
                    <td *ngIf="isAdmin">
                        <input class="order-status-input" type="number" [(ngModel)]="product.orderAmount">
                    </td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.orderDate | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf='product.quantity == 0'>
                        <img src="../../assets/images/red_circle.png"
                            [style.width.px]='imageWidth'
                            [style.margin.px]='imageMargin'> 
                            Out of stock
                    </td> 
                    <td *ngIf='product.quantity > 0  && product.quantity < 30'>
                        <img src="../../assets/images/orange_circle.png"
                            [style.width.px]='imageWidth'
                            [style.margin.px]='imageMargin'>
                            Few in stock
                    </td> 
                    <td class='remove' (click)="deleteProduct(product)" *ngIf="isAdmin">
                        <img src="../../assets/images/x-button.png"
                            [style.width.px]='removeImageWidth'
                            [style.margin.px]='imageMargin'>
                    </td> 
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-group" *ngIf="isAdmin">
    <button [disabled]="loading" class="btn btn-primary" (click)="placeOrder(filteredProducts)">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Place Order
    </button>
</div>