.size {
    height: 200px;
    width: 670px;
  }

.center{
  display: flex;
  justify-content: center;
  
}

/* label {
  color: #337AB7;
  font-weight: bold;
}  */

.card-header {
  background-color: #fff; 
  border-color: #dddddd; 
  font-weight: bold;
  letter-spacing: 3px; 
}

.card {
  margin: auto;
  width: 100%;
  border-color: #efefef; 
} 

input {
  border-color: #dddddd;
  box-shadow: 0 0.25rem 0.75rem #0000000d;
}
 
    